*{
    box-sizing: border-box;
    font-family: 'work Sans';
    margin: 0px;
    padding: 0px;
}

html{
    /*me permite deslizar cuando cuabndo hago clic en los links menu*/
    scroll-behavior: smooth;
}
/*MENU DE LISTA */
.contenedor-herader{
    background: linear-gradient(to top,rgb(91, 230, 248), rgb(42, 21, 201) );
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-herader header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-herader header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: rgb(83, 82, 82);
    text-decoration: none;
}
.contenedor-herader header ul{
    display: flex;
    list-style: none;
}
.contenedor-herader header nav ul li a{
    text-align: none ;
    color: rgb(83, 82, 82);
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-herader header nav ul li a{
    color: rgb(83, 82, 82);

}
.responsive{
    background-color: black;
    color: rgb(89, 148, 34);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*CONTENEDOR CON FOTO DATOS Y REDES SOCIALES*/
.inicio{
    background: white,url(fotos/foto.jpg);
    background-size: cover;
    height: 100vh;
    color: rgb(12, 10, 10);
    display: flex;
    text-align: center;
}
.inicio .contenedor-inicio-foto{
    padding: 20px;
    background: linear-gradient(to top,rgb(123, 208, 247), rgb(106, 90, 230));
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    
}
.inicio .contenedor-inicio-foto img{
    margin-top: 40px;
    border: 5px solid white;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 50%;
}
.inicio .contenedor-inicio-foto h1{
    margin-top: 5px;
    font-size: 20px;
    font-family: 'righteous';
    color: rgb(83, 82, 82);
}
.inicio .contenedor-inicio-foto h2{
    font-size: 15px;
    font-weight: normal;
    color: rgb(83, 82, 82);
}
.inicio .contenedor-inicio-foto .redes a{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenedor-inicio-foto .redes a:hover{
    background-color: rgb(91, 101, 238);
}

/*CONTENEDOR INFORMACION SOBRE MI */
.sobremi{
    background: linear-gradient(to top,rgb(123, 208, 247), rgb(106, 90, 230));
    color: rgb(83, 82, 82);
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: rgb(83, 82, 82);
    font-weight: bold;
}