*{
    box-sizing: border-box;
    font-family: 'work Sans';
    margin: 0px;
    padding: 0px;
}

html{
    /*me permite deslizar cuando cuabndo hago clic en los links menu*/
    scroll-behavior: smooth;
}
/*MENU DE LISTA */
.contenedor-herader{
    background: linear-gradient(to top,rgb(91, 230, 248), rgb(42, 21, 201) );
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-herader header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-herader header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: rgb(29, 26, 26);
    text-decoration: none;
}
.contenedor-herader header ul{
    display: flex;
    list-style: none;
}
.contenedor-herader header nav ul li a{
    text-align: none ;
    color: rgb(29, 26, 26);
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-herader header nav ul li a{
    color: rgb(29, 26, 26);

}
.responsive{
    background-color: black;
    color: rgb(89, 148, 34);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*CONTENEDOR CON FOTO DATOS Y REDES SOCIALES*/
.inicio{
    background: white,url(fotos/foto.jpg);
    background-size: cover;
    height: 100vh;
    color: rgb(29, 26, 26);
    display: flex;
    text-align: center;
}
.inicio .contenedor-inicio-foto{
    padding: 20px;
    background: linear-gradient(to top,rgb(123, 208, 247), rgb(106, 90, 230));
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    
}
.inicio .contenedor-inicio-foto img{
    margin-top: 40px;
    border: 5px solid white;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 50%;
}
.inicio .contenedor-inicio-foto h1{
    margin-top: 5px;
    font-size: 20px;
    font-family: 'righteous';
    color: rgb(29, 26, 26);
}
.inicio .contenedor-inicio-foto h2{
    font-size: 15px;
    font-weight: normal;
    color: rgb(29, 26, 26);
}
.inicio .contenedor-inicio-foto .redes a{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenedor-inicio-foto .redes a:hover{
    background-color: rgb(91, 101, 238);
}

/*CONTENEDOR INFORMACION SOBRE MI */
.sobremi{
    background: linear-gradient(to top,rgb(123, 208, 247), rgb(106, 90, 230));
    color: rgb(29, 26, 26);
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: rgb(15, 15, 15);
    font-weight: bold;
}
/*DATOS PERSONALES */
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size:28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
/* PARA RESALTAR EN NEGRITA STRONG*/
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: black;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color:  rgb(239, 239, 247);
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
     width: 90px;
     height: 90px;
     background-color: rgb(239, 239, 247);
     border-radius: 10px;
     margin: 0 15px 15px 0;
     padding: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-items: center;
     transition: .3s;
}
.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: rgb(91, 101, 238);
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    /*width: fit-content;*/
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: black;
    position: relative;
    z-index: 10;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:  rgb(239, 239, 247);
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100%;
}